html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}
::selection {
  color: #ff004f;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #ff004f;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca0040;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/last.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  padding: 10px;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  width: 140px;
  user-select: none;
}
#header .container p span {
  color: #ff004f;
  font-size: 53px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  position: relative;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background-color: #ff004f;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}
.header-text h1 span {
  color: #ff004f;
  user-select: none;
}
#about {
  padding: 30px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  overflow: hidden;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 h1 {
  margin-bottom: 20px;
}
.about-col-2 p {
  line-height: 1.5;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 30px;
}
.tab-titles .tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.tab-titles .tab-links:hover {
  color: #dddddd;
}
.tab-links.active-link {
  color: #cacaca;
}
.tab-links::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #ff004f;
  transition: 0.3s;
}
.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 12px 0;
}

.tab-contents ul li span {
  color: #d92760;
  margin: 10px 0;
  font-weight: 600;
  display: inline-block;
  margin: 0 0 5px;
}
.tab-contents {
  display: none;
  padding: 10px;
  box-shadow: 0 0 15px 2px #333;
  border-radius: 15px;
  margin-left: -10px;
}
.tab-contents.active-tab {
  display: block;
}
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
  grid-gap: 40px;
}

.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 0 0 15px 2px #656565;
  text-align: center;
}
.services-list div p {
  color: #b2afaf;
  line-height: 1.5;
  font-size: 17px;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  display: inline-block;
}
.services-list div:hover {
  transform: translateY(-10px);
  background-color: #bf1148;
  box-shadow: none;
  p {
    color: #d1d1d1;
  }
}

/*********************************************** portfolio **********************************************/
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.work img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
  transition: 0.5s;
}
.layer h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}
.layer p {
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.layer a {
  color: #ff004f;
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
.layer a:hover {
  background-color: #eee;
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-weight: bold;
}
.btn:hover {
  background-color: #ff004f;
}
/*----------------contact----------------*/

.contact-left {
  flex-basis: 30%;
}
.contatct-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.contact-left p a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
.contact-left p a:hover {
  color: #c8c8c8;
}

.social-icons {
  margin-top: 30px;
  background-color: #262626;
  box-shadow: 0 0 15px 2px #333;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: 0.3s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.social-icons a.facebook {
  color: #4267b2;
}
.social-icons a.instagram {
  color: #dd2a7b;
}

.social-icons a.snapchat {
  color: #fffc00;
}
.social-icons a.linkedin {
  color: #0077b5;
}

.social-icons a.youtube {
  color: #ff0000;
}

.social-icons a.github,
.social-icons a.twitter,
.social-icons a.tiktok {
  color: black;
}
.btn.btn2 {
  display: inline-block;
  background-color: #ff004f;
  color: #fff;
}
.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  border-radius: 6px;
  caret-color: #ff004f;
  transition: 0.3s;
  box-shadow: 0 0 10px 1px #333;
}
form input:focus,
form textarea:focus {
  box-shadow: none;
}

form .btn2 {
  font-size: 18px;
  margin-top: 20px;
  padding: 14px 60px;
  cursor: pointer;
}
form textarea {
  resize: none;
}

.btn.btn2:hover {
  background-color: #ab1846;
  border: 1px solid #ab1846;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
  background-color: #262626;
}
.copyright i {
  color: #ff004f;
}
nav .fas {
  display: none;
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
/*********************** small screens ***********************************/

@media (max-width: 767px) {
  #header {
    background-image: url(images/last.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px 0px;
  }
  .container {
    padding: 10px 5%;
  }

  .logo {
    padding: 10px 0;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    width: 140px;
    user-select: none;
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
    transform: translateY(-50%);
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    padding-top: 50px;
    display: block;
    z-index: 10;
    transition: width 0.3s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul li a {
    display: block;
    text-align: center;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav ul .fas:active {
    color: #ff004f;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-titles .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .layer {
    padding: 0 20px;
    h3 {
      font-size: 18px;
    }
    p {
      line-height: 1.3;
    }
    a {
      font-size: 14px;
      line-height: 30px;
      width: 30px;
      height: 30px;
    }
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .social-icons {
    margin-top: 30px;
    background-color: #262626;
    box-shadow: 0 0 15px 2px #333;
    padding: 10.5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .social-icons a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 7.5px;
    display: inline-block;
    transition: 0.3s;
  }
  .copyright {
    font-size: 14px;
  }
}
